<div class="container-fluid current-route-background">
  <div class="container">
    <div class="row">
      <div class="col-5 col-sm-5 col-md-4 col-lg-3 col-xl-3">
        <table class="table table-hover category-table pb-0 mb-0">
          <p class="category-table-title mt-3 mb-3">CATEGORIES</p>
          <tbody>
            {{#each model.categoryList as |category|}}
              {{#if (eq category.parent_id null)}}
                <tr>
                  <td class="m-0 p-0">
                    {{#link-to "shop.product-list" (query-params parent_category=category.id) class="category-table-link"}}
                      <div class="category-table-row-full">
                        {{category.name}}
                      </div>
                    {{/link-to}}
                  </td>
                </tr>	
              {{/if}}
            {{/each}}
            <tr>
              <td class="m-0 p-0">
                {{#link-to "category-list" class="category-table-link"}}
                  <div class="category-table-row-full">
                    All Categories
                  </div>
                {{/link-to}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-7 col-sm-7 col-md-8 col-lg-8 col-xl-8 center-margin">
        <div class="ml-5">
          <div class="row fade">
            <div class="col-lg-7 col-xl-7 mb-5">
              <h1 class="home-featured-title">{{model.productRandom.name}}</h1>
              <div class="d-lg-none d-xl-none">
                {{#bs-carousel autoPlay=true as |car|}}
                  {{#each model.productRandom.pictures as |picture|}}
                    {{#car.slide}}
                    <div class="home-product-card-featured-image-holder">
                      <img class="home-product-card-featured-image fade" src="{{picture.url}}">
                    </div>
                    {{/car.slide}}
                  {{/each}}
                {{/bs-carousel}}
              </div>
              <p class="home-featured-price">Starting from - {{format-bid model.productRandom.startingPrice}}</p>
              <p class="home-featured-description">{{model.productRandom.description}}</p>
              <div class="mt-4">
                {{#link-to "shop.single-product" model.productRandom.id class="home-featured-button"}}
                  BID NOW
                  <i class="material-icons">
                    keyboard_arrow_right
                  </i>
                {{/link-to}}
              </div>
            </div>
            <div class="col-lg-5 col-xl-5">
              <div class="d-none d-lg-block d-xl-block">
                {{#bs-carousel autoPlay=true as |car|}}
                  {{#each model.productRandom.pictures as |picture|}}
                    {{#car.slide}}
                    <div class="home-product-card-featured-image-holder">
                      <img class="home-product-card-featured-image fade" src="{{picture.url}}">
                    </div>
                    {{/car.slide}}
                  {{/each}}
                {{/bs-carousel}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5 bottom-margin-100">
  <div class="container">
    <div class="bottom-margin-100">
      <h1 class="feature-collection-text">Feature Products</h1>
      <hr class="feature-line">
      <div class="row mr-0 ml-0 pr-0 pl-0 fade">
        {{#each model.productListFeatured as |product index|}}
          {{#if (is-less index 3)}}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
              {{#link-to "shop.single-product" product.id class="category-table-link"}}	
                <div class="mb-5 mt-5">
                  <div class="home-product-card m-3">
                    <div class="home-product-card-image-holder">
                      {{#each product.pictures as |picture index|}}
                        {{#if (is-main picture null index)}}
                          <img class="home-product-card-image" src="{{picture.url}}">		
                        {{/if}}
                      {{/each}}
                    </div>
                    <div class="mt-2">
                      <h5 class="home-product-card-name-text">{{product.name}}</h5>
                      <p class="home-product-card-price-text">Starting from - {{format-bid product.startingPrice}}</p>
                    </div>
                  </div>	
                </div>
              {{/link-to}}
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="row  fade">
      {{#if (eq selectedList 'new')}}
        <div class="col-12">
          <div class="row ml-0 mr-0">
            <span class="feature-collection-text mr-4 home-list-button-active" {{action 'setSelectedListType' 'new'}}>
              New Arrivals
            </span>
            <span class="feature-collection-text home-list-button" {{action 'setSelectedListType' 'ending'}}>
              Last Chance
            </span>
          </div>
          <hr class="feature-line pb-0 mb-0">
          <hr class="feature-line-small-v1">
        </div>
        {{#each model.productListNew as |product index|}}
          {{#if (is-less index 8)}}
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
              {{#link-to "shop.single-product" product.id class="category-table-link"}} 
                <div class="mb-5 mt-5">
                  <div class="home-product-card m-3">
                    <div class="home-product-card-image-holder">
                      {{#each product.pictures as |picture index|}}
                        {{#if (is-main picture null index)}}
                          <img class="home-product-card-image" src="{{picture.url}}">   
                        {{/if}}
                      {{/each}}
                    </div>
                    <div class="mt-2">
                      <h5 class="home-product-card-name-text">{{product.name}}</h5>
                      <p class="home-product-card-price-text">Starting from - {{format-bid product.startingPrice}}</p>
                    </div>
                  </div>  
                </div>
              {{/link-to}}
            </div>
          {{/if}}
        {{/each}}
      {{else}}
        {{#if (eq selectedList 'ending')}}
          <div class="col-12">
            <div class="row ml-0 mr-0">
              <span class="feature-collection-text mr-4 home-list-button" {{action 'setSelectedListType' 'new'}}>
                New Arrivals
              </span>
              <span class="feature-collection-text home-list-button-active" {{action 'setSelectedListType' 'ending'}}>
                Last Chance
              </span>
            </div>
            <hr class="feature-line pb-0 mb-0">
            <hr class="feature-line-small-v2">
          </div>
          {{#each model.productListEnding as |product index|}}
            {{#if (is-less index 8)}}
              <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                {{#link-to "shop.single-product" product.id class="category-table-link"}} 
                  <div class="mb-5 mt-5">
                    <div class="home-product-card m-3">
                      <div class="home-product-card-image-holder">
                        {{#each product.pictures as |picture index|}}
                          {{#if (is-main picture null index)}}
                            <img class="home-product-card-image" src="{{picture.url}}">   
                          {{/if}}
                        {{/each}}
                      </div>
                      <div class="mt-2">
                        <h5 class="home-product-card-name-text">{{product.name}}</h5>
                        <p class="home-product-card-price-text">Starting from - {{format-bid product.startingPrice}}</p>
                      </div>
                    </div>  
                  </div>
                {{/link-to}}
              </div>
            {{/if}}
          {{/each}}
        {{/if}}
      {{/if}}
    </div>
    
  </div>
</div>