<div class="container-fluid current-route-background">
  <div class="container">
    <p class="form-title-text">PASSWORD RESET</p>
  </div>
</div>

<div class="container-fluid pt-4">
  <div class="container">
    <div class="row mr-0 ml-0 pr-0 pl-0">
      <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mr-0 ml-0 pr-0 pl-0 fade">
        <div class="card mr-0 ml-0 pr-0 pl-0 margin-card">
          <h1 class="card-title">PASSWORD RESET</h1>
          <div class="card-body mr-4 ml-4">
            <form>
              <div class="form-group mt-4">
                <label class="account-profile-pointer" for="passwordInput">Password</label>
                {{input type="password" value=password autocomplete="off" class="form-control form-background-color p-4" id="passwordInput"}}
                {{#if (eq passwordIsValid false)}}
                  <p class="validation-error-message mt-1 fade">{{passwordErrorText}}</p>
                {{/if}}
                <label class="account-profile-pointer" class="mt-5" for="passwordRepeatInput">Confirm Password</label>
                {{input type="password" value=confirmPassword autocomplete="off" class="form-control form-background-color p-4" id="passwordRepeatInput"}}
                {{#if (eq passwordMatches false)}}
                  <p class="validation-error-message mt-1 fade">{{passwordMatchesErrorText}}</p>
                {{/if}}
              </div>
              <button type="submit" class="btn btn-purple-outline mt-5 bottom-margin-100" {{action 'reset'}}>SUBMIT</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>