{{app-header}}

<div class="container-fluid current-route-background">
  <div class="container">
    <p class="form-title-text">PASSWORD RESET</p>
  </div>
</div>

<div class="container-fluid pt-4">
  <div class="container">
    <div class="row fade">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="card margin-card">
          <h1 class="card-title">PASSWORD RESET</h1>
          <div class="card-body mr-4 ml-4">
            <form>
              <div class="form-group mt-4">
                <label>Password</label>
                {{input type="password" value=password class="form-control form-background-color p-4"}}
                {{#if (eq passwordIsValid false)}}
                  <p class="validation-error-message mt-1 fade">{{passwordErrorText}}</p>
                {{/if}}
                <label class="mt-5">Confirm Password</label>
                {{input type="password" value=confirmPassword class="form-control form-background-color p-4"}}
                {{#if (eq passwordMatches false)}}
                  <p class="validation-error-message mt-1 fade">{{passwordMatchesErrorText}}</p>
                {{/if}}
              </div>
              <button type="submit" class="btn btn-purple-outline mt-5 bottom-margin-100" {{action 'reset'}}>SUBMIT</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>