<div class="container-fluid current-route-background">
  <div class="container">
    <p class="form-title-text">REGISTER</p>
  </div>
</div>

<div class="container-fluid pt-4">
  <div class="container">
    <div class="row fade">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="card margin-card">
          <h1 class="card-title">REGISTER</h1>
          <div class="card-body mr-4 ml-4">
            <form autocomplete="off" method="POST">
              <div class="form-group mt-4">
                <label>First Name</label>
                {{input type="text" value=name class="form-control form-background-color p-4"}}
              </div>
              {{#if nameHasError}}
                <div class="validation-error-message fade">
                  {{nameErrorMessage}}
                </div>
              {{/if}}
              
              <div class="form-group mt-5">
                <label>Last Name</label>
                {{input type="text" value=surname class="form-control form-background-color p-4"}}
              </div>
              {{#if surnameHasError}}
                <div class="validation-error-message fade">
                  {{surnameErrorMessage}}
                </div>
              {{/if}}
              
              <div class="form-group mt-5">
                <label>Enter Email</label>
                {{input type="email" autocomplete="off" value=email class="form-control form-background-color p-4"}}
              </div>
              {{#if emailHasError}}
                <div class="validation-error-message fade">
                  {{emailErrorMessage}}
                </div>
              {{/if}}

              <div class="form-group mt-5">
                <label>Confirm Email</label>
                {{input type="email" autocomplete="off"  value=emailConfirmation class="form-control form-background-color p-4"}}
              </div>
              {{#if emailConfirmationHasError}}
                <div class="validation-error-message fade">
                  {{emailConfirmationErrorMessage}}
                </div>
              {{/if}}

              <div class="form-group mt-5">
                <label>Password</label>
                {{input type="password" autocomplete="off" value=password  class="form-control form-background-color p-4"}}
              </div>
              {{#if passwordHasError}}
                <div class="validation-error-message fade">
                  {{passwordErrorMessage}}
                </div>
              {{/if}}

              <div class="form-group mt-5">
                <label>Confirm Password</label>
                {{input type="password" autocomplete="off" value=passwordConfirmation  class="form-control form-background-color p-4"}}
              </div>              
              {{#if passwordConfirmationHasError}}
                <div class="validation-error-message fade">
                  {{passwordConfirmationErrorMessage}}
                </div>
              {{/if}}

              {{#if emailExistsHasError}}
                <div class="validation-error-message fade">
                  {{emailExistsErrorMessage}}
                </div>
              {{/if}}
              
              <button type="submit" class="btn btn-purple-outline mt-5" {{action "createUser"}}>REGISTER</button>
              <div class="text-center mt-5 mb-4">
                <span>Already have an account?  </span>
                {{#link-to "login" class="login-nav-link"}}
                  Login
                {{/link-to}}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>