<header>
  <nav class="navbar navbar-expand-md p-1 user-navigation-bar">
    <div class="container">
      <div class="navbar-brand text-light">
        <div class="row mr-0 ml-0">
          <a class="social-media-link" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="social-media-link" href="#"><i class="fab fa-instagram"></i></a>
          <a class="social-media-link" href="#"><i class="fab fa-twitter"></i></a>
          <a class="social-media-link" href="#"><i class="fab fa-google-plus-g"></i></a>
        </div>
      </div>
      <div>
        <ul class="navbar-nav ml-auto">
          {{#if (is-logged-in session.authToken)}}
            <li class="nav-item pt-2 pb-2">
              <button type="submit" class="header-logout-button" {{action "logout"}}>Logout</button>
            </li>   
          {{else}}
            <li class="nav-item">
              {{#link-to "login" class="nav-link text-light"}}
                Login
              {{/link-to}}
            </li>       
            <p class="divider">or</p>
              <li class="nav-item">
                {{#link-to "register" class="nav-link text-light"}}
                  Create an Account
                {{/link-to}}
              </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-md navbar-white bg-white pt-3 pb-3">
    <div class="container">
      {{#link-to 'home' class="header-logo-link"}}
        <p class="title"><img class="logo" src="https://muffin.ml/maki/churo-images/logo/logo.png">AUCTION</p>
      {{/link-to}}
      
      <form class="navbar-form navigation-form mr-2">
        {{input type="text" class="header-search-input" value=searchQuery placeholder="Search" name="search" autocomplete="off"}}  
        <button class="header-search-button" type="submit" {{action 'searchForItem'}}>
          <i class="material-icons">
            search
          </i>
        </button>
      </form>
      <div class="collapse navbar-collapse" id="navigationList">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-4">
            {{#link-to "home" class="nav-link" current-when="index home"}}
                HOME
            {{/link-to}}
          </li>
          <li class="nav-item mr-4">
            {{#link-to "shop.product-list"  class="nav-link" current-when="shop shop.product-list"}}
              SHOP
            {{/link-to}}
          </li>
          <li class="nav-item dropdown">
            {{#if (is-logged-in session.authToken)}}
              {{#bs-dropdown as |dd|}}
                {{#dd.toggle class="nav-link" current-when="account.profile account.bids account.wishlist account.sales account.sell account.settings"}}
                  MY ACCOUNT
                {{/dd.toggle}}
                {{#dd.menu as |ddm|}}  
                  {{#ddm.item}}
                    {{#ddm.link-to "account.profile" class="header-navigation-dropdown-item"}}Profile{{/ddm.link-to}}
                  {{/ddm.item}}

                  {{#ddm.item}}
                    {{#ddm.link-to "account.sell.entry" class="header-navigation-dropdown-item"}}Become a seller{{/ddm.link-to}}
                  {{/ddm.item}}
                  
                  {{#ddm.item}}
                    {{#ddm.link-to "account.sales" class="header-navigation-dropdown-item"}}Your Sales{{/ddm.link-to}}
                  {{/ddm.item}}

                  {{#ddm.item}}
                    {{#ddm.link-to "account.bids" class="header-navigation-dropdown-item"}}Your Bids{{/ddm.link-to}}
                  {{/ddm.item}}
                  
                  {{#ddm.item}}
                    {{#ddm.link-to "account.wishlist" class="header-navigation-dropdown-item"}}Wishlist{{/ddm.link-to}}
                  {{/ddm.item}}
                  
                  {{#ddm.item}}
                    {{#ddm.link-to "account.settings" class="header-navigation-dropdown-item"}}Settings{{/ddm.link-to}}
                  {{/ddm.item}}
                {{/dd.menu}}
              {{/bs-dropdown}}
            {{else}}
              {{#link-to "login" class="nav-link dropdown-toggle" current-when="account.profile account.bids account.wishlist account.sales account.sell account.settings"}}
                MY ACCOUNT
              {{/link-to}}
            {{/if}}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>