<header class="container-fuild">
  <nav class="navbar navbar-expand pt-1 pb-1 user-navigation-bar">
    <div class="container">
      <div class="navbar-brand text-light navbar-padding-left">
        <div class="row mr-0 ml-0">
          <a class="social-media-link" href="https://www.facebook.com/auctionhouse.atlantbh"><i class="fab fa-facebook-f"></i></a>
          <a class="social-media-link" href="https://www.instagram.com/ahouse2019"><i class="fab fa-instagram"></i></a>
          <a class="social-media-link" href="https://twitter.com/AuctionHouse4"><i class="fab fa-twitter"></i></a>
          <a class="social-media-link" href="https://plus.google.com/u/2/103540929625929120932"><i class="fab fa-google-plus-g"></i></a>
        </div>
      </div>
      <div>
        <ul class="navbar-nav ml-auto navbar-padding-right">
          {{#if (is-logged-in customSession.authToken currentDate)}}
            <li class="nav-item pt-2 pb-2">
              <button type="submit" class="header-logout-button" {{action "logout"}}>Logout</button>
            </li>   
          {{else}}
            <li class="nav-item">
              {{#link-to "login" class="nav-link text-light"}}
                Login
              {{/link-to}}
            </li>       
            <p class="divider">or</p>
              <li class="nav-item">
                {{#link-to "register" class="nav-link text-light"}}
                  Create an Account
                {{/link-to}}
              </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar-white bg-white pt-3 pb-3">
    <div class="container">
      <div class="row full-width mr-0 ml-0">

        <div class="col-5 col-sm-5 col-md-4 col-lg-3 col-xl-3 mr-0 ml-0 pl-0 pr-0">
          {{#link-to 'home' class="header-logo-link"}}
            <p class="title"><img class="logo" src="https://muffin.ml/maki/churo-images/logo/logo.png">AUCTION</p>
          {{/link-to}}
        </div>

        <div class="col-5 col-sm-5 col-md-6 col-lg-5 col-xl-5 mr-0 ml-0 pl-0 pr-1 padding-top-15">
          <form class="navbar-form navigation-form full-width">
            <div class="row mr-0 ml-0">
              {{input type="text" class="header-search-input col-8 col-sm-8 col-md-9 col-lg-9 col-xl-9" value=searchQuery placeholder="Search" autocomplete="off"}}  
              <button class="header-search-button ml-auto pr-1 col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2" type="submit" {{action 'searchForItem'}}>
                <i class="material-icons">
                  search
                </i>
              </button>
            </div>
          </form>
        </div>

        <div class="col-2 col-sm-2 col-md-2 col-lg-4 col-xl-4 mr-0 ml-0 pl-4 pr-0 pt-1">
          <div class="d-none d-lg-block d-xl-block">
            <div class="navbar navbar-expand-md navbar-white bg-white mr-0 ml-0 pl-0 pr-0">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item pr-4">
                  {{#link-to "home" class="nav-link" current-when="index home"}}
                    HOME
                  {{/link-to}}
                </li>
                <li class="nav-item pr-4">
                  {{#link-to "shop.product-list" class="nav-link" current-when="shop shop.product-list"}}
                    SHOP
                  {{/link-to}}
                </li>
                <li class="nav-item dropdown">
                  {{#if (is-logged-in customSession.authToken currentDate)}}
                    {{#bs-dropdown as |dd|}}
                      {{#dd.toggle class="nav-link" current-when="account.admin.categories account.admin.users account.admin.products"}}
                        MY ACCOUNT
                      {{/dd.toggle}}
                      {{#dd.menu class="dropdown-menu-right" as |ddm|}}  
                        {{#if (is-admin customSession.adminChecker true)}}

                          {{#ddm.item}}
                            {{#ddm.link-to "account.admin.products" class="header-navigation-dropdown-item"}}Items{{/ddm.link-to}}
                          {{/ddm.item}}
                          
                          {{#ddm.item}}
                            {{#ddm.link-to "account.admin.categories" class="header-navigation-dropdown-item"}}Categories{{/ddm.link-to}}
                          {{/ddm.item}}

                          {{#ddm.item}}
                            {{#ddm.link-to "account.admin.users" class="header-navigation-dropdown-item"}}Users{{/ddm.link-to}}
                          {{/ddm.item}}

                        {{else}}

                          {{#ddm.item}}
                            {{#ddm.link-to "account.profile" class="header-navigation-dropdown-item"}}Profile{{/ddm.link-to}}
                          {{/ddm.item}}

                          {{#ddm.item}}
                            {{#ddm.link-to "account.sell.entry" class="header-navigation-dropdown-item"}}Become a seller{{/ddm.link-to}}
                          {{/ddm.item}}
                          
                          {{#ddm.item}}
                            {{#ddm.link-to "account.sales" class="header-navigation-dropdown-item"}}Your Sales{{/ddm.link-to}}
                          {{/ddm.item}}

                          {{#ddm.item}}
                            {{#ddm.link-to "account.bids" class="header-navigation-dropdown-item"}}Your Bids{{/ddm.link-to}}
                          {{/ddm.item}}
                          
                          {{#ddm.item}}
                            {{#ddm.link-to "account.wishlist" class="header-navigation-dropdown-item"}}Wishlist{{/ddm.link-to}}
                          {{/ddm.item}}
                          
                          {{#ddm.item}}
                            {{#ddm.link-to "account.settings" class="header-navigation-dropdown-item"}}Settings{{/ddm.link-to}}
                          {{/ddm.item}}
                        {{/if}}
                      {{/dd.menu}}
                    {{/bs-dropdown}}
                  {{else}}
                    {{#link-to "login" class="nav-link dropdown-toggle" current-when="account.profile account.bids account.wishlist account.sales account.sell account.settings"}}
                      MY ACCOUNT
                    {{/link-to}}
                  {{/if}}
                </li>
              </ul>
            </div>
          </div>
          <div class="d-lg-none d-xl-none">
            <div class="mt-2 float-right">
              {{#bs-dropdown as |dd|}}
                {{#dd.button class="btn btn-light header-dropdown-holder"}}
                  <span class="caret">
                    <i class="material-icons">
                      reorder
                    </i>
                  </span>
                {{/dd.button}}
                {{#dd.menu class="pull-right" as |ddm|}}
                  {{#ddm.item}}
                    {{#ddm.link-to "home" class="header-navigation-dropdown-item"}}Home{{/ddm.link-to}}
                  {{/ddm.item}}

                  {{#ddm.item}}
                    {{#ddm.link-to "shop.product-list" class="header-navigation-dropdown-item"}}Shop{{/ddm.link-to}}
                  {{/ddm.item}}

                  {{#if (is-logged-in customSession.authToken)}}
                    {{#if (is-admin customSession.adminChecker true)}}

                      {{#ddm.item}}
                        {{#ddm.link-to "account.admin.products" class="header-navigation-dropdown-item"}}Items{{/ddm.link-to}}
                      {{/ddm.item}}
                      
                      {{#ddm.item}}
                        {{#ddm.link-to "account.admin.categories" class="header-navigation-dropdown-item"}}Categories{{/ddm.link-to}}
                      {{/ddm.item}}              

                      {{#ddm.item}}
                        {{#ddm.link-to "account.admin.users" class="header-navigation-dropdown-item"}}Users{{/ddm.link-to}}
                      {{/ddm.item}}

                    {{else}}
                      {{#ddm.item}}
                        {{#ddm.link-to "account.profile" class="header-navigation-dropdown-item"}}Profile{{/ddm.link-to}}
                      {{/ddm.item}}

                      {{#ddm.item}}
                        {{#ddm.link-to "account.sell.entry" class="header-navigation-dropdown-item"}}Sell{{/ddm.link-to}}
                      {{/ddm.item}}

                      {{#ddm.item}}
                        {{#ddm.link-to "account.sales" class="header-navigation-dropdown-item"}}Your Sales{{/ddm.link-to}}
                      {{/ddm.item}}

                      {{#ddm.item}}
                        {{#ddm.link-to "account.bids" class="header-navigation-dropdown-item"}}Your Bids{{/ddm.link-to}}
                      {{/ddm.item}}

                      {{#ddm.item}}
                        {{#ddm.link-to "account.wishlist" class="header-navigation-dropdown-item"}}Wishlist{{/ddm.link-to}}
                      {{/ddm.item}}

                      {{#ddm.item}}
                        {{#ddm.link-to "account.settings" class="header-navigation-dropdown-item"}}Settings{{/ddm.link-to}}
                      {{/ddm.item}}

                    {{/if}}
                  {{else}}
                    {{#ddm.item}}
                      {{#ddm.link-to "login" class="header-navigation-dropdown-item"}}Profile{{/ddm.link-to}}
                    {{/ddm.item}}

                    {{#ddm.item}}
                      {{#ddm.link-to "login" class="header-navigation-dropdown-item"}}Sell{{/ddm.link-to}}
                    {{/ddm.item}}

                    {{#ddm.item}}
                      {{#ddm.link-to "login" class="header-navigation-dropdown-item"}}Your Sales{{/ddm.link-to}}
                    {{/ddm.item}}

                    {{#ddm.item}}
                      {{#ddm.link-to "login" class="header-navigation-dropdown-item"}}Your Bids{{/ddm.link-to}}
                    {{/ddm.item}}

                    {{#ddm.item}}
                      {{#ddm.link-to "login" class="header-navigation-dropdown-item"}}Wishlist{{/ddm.link-to}}
                    {{/ddm.item}}

                    {{#ddm.item}}
                      {{#ddm.link-to "login" class="header-navigation-dropdown-item"}}Settings{{/ddm.link-to}}
                    {{/ddm.item}}

                  {{/if}}
                {{/dd.menu}}
              {{/bs-dropdown}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>