{{loading-slider isLoading=loading expanding=true color=hexColorsArray}}

<div class="container-fluid current-route-background mb-4">
  <div class="container">
    {{#if filteredProducts}}
      <p class="form-title-text">SHOP<span class="current-route-text"><span class="current-route-parent-text">SHOP /</span>   ALL CATEGORIES</span></p>
    {{else}}
      {{#if productSearchErrorMessage}}
        {{#if (eq closestCategory null)}}
          <p class="search-error-text fade">
            Ooops! It would seem that there are no similar matches to that item
          </p>
        {{else}}
          <p class="search-error-text fade">
            Did you mean?
            <span class="pl-3">
              {{#link-to 'shop.product-list' (query-params name='' parent_category=closestCategory.id) class="search-error-text-highlight"}}
                {{closestCategory.name}}
              {{/link-to}}
            </span>
          </p>
        {{/if}}
      {{else}}
        <p class="form-title-text">SHOP<span class="current-route-text"><span class="current-route-parent-text">SHOP /</span>   ALL CATEGORIES</span></p>
      {{/if}}
    {{/if}}
  </div>
</div>

<div class="container-fluid bottom-margin-300">
  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3 col-xl-3">
        <table class="table categort-table-v2 pb-0 mb-3">
          <p class="category-table-title-v2 mt-3 mb-3 ml-3">PRODUCT CATEGORIES</p>
          <tbody>
            {{#each model.categoryList as |category|}}
              {{#if (eq category.parent_id null)}}
                <tr {{action 'toggleDetails' category}} class="product-list-pointer"> 
                  {{#if (eq parent_category category.id)}}
                    <div class="category-table-link-v2">
                      {{category.name}}
                      <span class="category-table-link-icon-active">
                        <i class="material-icons">
                          remove
                        </i>
                      </span>
                    </div>
                  {{else}}
                    <div class="category-table-link-v2">
                      {{category.name}}
                      <span class="category-table-link-icon">
                        <i class="material-icons">
                          add
                        </i>
                      </span>
                    </div>
                  {{/if}}
                </tr>        
                {{#if (eq parent_category category.id)}}
                  {{#each model.categoryList as |subcategory|}}
                    {{#if (eq subcategory.parent_id category.id)}}
                      <tr class="product-list-pointer" {{action "selectCategory" subcategory}} value=selectedItem>
                        {{#if (eq child_category subcategory.id)}}
                          <div class="category-table-link-v3 category-table-link-active">
                            {{subcategory.name}}
                          </div>
                        {{else}}
                          <div class="category-table-link-v3">
                            {{subcategory.name}}
                          </div>                          
                        {{/if}}
                      </tr>
                    {{/if}}
                  {{/each}}
                {{/if}}
              {{/if}}
            {{/each}} 
              <tr {{action "selectCategory" null}} class="product-list-pointer"> 
                <div class="category-table-link-v2">
                  All Categories
                </div>
              </tr> 
          </tbody>
        </table>

    
        <table class="table categort-table-v2 pb-0 mb-3">
          <p class="category-table-title-v2 mt-3 mb-3 ml-3">FILTER BY PRICE</p>
          <tbody>          
            <div class="category-table-link-v4 mb-1 mr-3 ml-3">
              {{range-slider
                start=startRange
                step=1
                min=0
                max=staticMaxPrice
                on-set="sliderChanged"
              }}
            </div>
            <div class="mr-3 ml-3 pb-4 mb-2">
              {{#if (eq minPrice null)}}
                <span class="float-left pl-slider-text">{{format-slider-price 0}}</span>
              {{else}}
                <span class="float-left pl-slider-text">{{format-slider-price minPrice}}</span>
              {{/if}}
              {{#if (eq maxPrice null)}}
                <span class="float-right pl-slider-text">{{format-slider-price 1500}}+</span>
              {{else}}
                {{#if (eq maxPrice 1500)}}
                  <span class="float-right pl-slider-text">{{format-slider-price 1500}}+</span>
                {{else}}
                  <span class="float-right pl-slider-text">{{format-slider-price maxPrice}}</span>
                {{/if}}
              {{/if}}
            </div>
          </tbody>
        </table> 
       

        <table class="table categort-table-v2 pb-0 mb-3">
          <p class="category-table-title-v2 mt-3 mb-3 ml-3">FILTER BY COLOR</p>
          <tbody>
            <tr class="product-list-pointer" {{action 'setColor' 'White'}}>
              {{#if (eq color 'White')}}
                <div class="category-table-link-v2 category-table-link-active">
                  White
                </div>
              {{else}}
                <div class="category-table-link-v2">
                  White
                </div>              
              {{/if}}
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' 'Black'}}>
              {{#if (eq color 'Black')}}
                <div class="category-table-link-v2 category-table-link-active">
                  Black
                </div>
              {{else}}
                <div class="category-table-link-v2">
                  Black
                </div>              
              {{/if}}
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' 'Blue'}}>
              {{#if (eq color 'Blue')}}
                <div class="category-table-link-v2 category-table-link-active">
                  Blue
                </div>
              {{else}}
                <div class="category-table-link-v2">
                  Blue
                </div>              
              {{/if}}
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' 'Red'}}>
              {{#if (eq color 'Red')}}
                <div class="category-table-link-v2 category-table-link-active">
                  Red
                </div>
              {{else}}
                <div class="category-table-link-v2">
                  Red
                </div>              
              {{/if}}
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' 'Orange'}}>
              {{#if (eq color 'Orange')}}
                <div class="category-table-link-v2 category-table-link-active">
                  Orange
                </div>
              {{else}}
                <div class="category-table-link-v2">
                  Orange
                </div>              
              {{/if}}
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' 'Yellow'}}>
              {{#if (eq color 'Yellow')}}
                <div class="category-table-link-v2 category-table-link-active">
                  Yellow
                </div>
              {{else}}
                <div class="category-table-link-v2">
                  Yellow
                </div>              
              {{/if}}
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' 'Green'}}>
              {{#if (eq color 'Green')}}
                <div class="category-table-link-v2 category-table-link-active">
                  Green
                </div>
              {{else}}
                <div class="category-table-link-v2">
                  Green
                </div>              
              {{/if}}
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' null}}>
              <div class="category-table-link-v2">
                All Colors
              </div>
            </tr>
          </tbody>
        </table>

        <table class="table categort-table-v2 pb-0 mb-2">
          <p class="category-table-title-v2 mt-3 mb-3 ml-3">FILTER BY SIZE</p>
          <tbody>
            <tr class="product-list-pointer" {{action 'setSize' 'Extra Small'}}>
              {{#if (eq size 'Extra Small')}}
                <div class="category-table-link-v2 category-table-link-active">
                  Extra Small
                </div>
              {{else}}
                <div class="category-table-link-v2">
                  Extra Small
                </div>              
              {{/if}}
            </tr>
            <tr class="product-list-pointer" {{action 'setSize' 'Small'}}>
              {{#if (eq size 'Small')}}
                <div class="category-table-link-v2 category-table-link-active">
                  Small
                </div>
              {{else}}
                <div class="category-table-link-v2">
                  Small
                </div>              
              {{/if}}
            </tr>
            <tr class="product-list-pointer" {{action 'setSize' 'Medium'}}>
              {{#if (eq size 'Medium')}}
                <div class="category-table-link-v2 category-table-link-active">
                  Medium
                </div>
              {{else}}
                <div class="category-table-link-v2">
                  Medium
                </div>              
              {{/if}}
            </tr>
            <tr class="product-list-pointer" {{action 'setSize' 'Large'}}>
              {{#if (eq size 'Large')}}
                <div class="category-table-link-v2 category-table-link-active">
                  Large
                </div>
              {{else}}
                <div class="category-table-link-v2">
                  Large
                </div>              
              {{/if}}
            </tr>
            <tr class="product-list-pointer" {{action 'setSize' 'Extra Large'}}>  
              {{#if (eq size 'Extra Large')}}
                <div class="category-table-link-v2 category-table-link-active">
                  Extra Large
                </div>
              {{else}}
                <div class="category-table-link-v2">
                  Extra Large
                </div>              
              {{/if}}            
            </tr>
            <tr class="product-list-pointer" {{action 'setSize' null}}>  
              <div class="category-table-link-v2">
                All Sizes
              </div>             
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-8 col-lg-9 col-xl-9">
        <div class="mr-0 ml-0 bottom-margin-100">
          <div class="product-sort-type-holder">
            <select class="product-list-select" onchange={{action "setSortType" value="target.value"}}>

              <option selected value="popularity">
                Default Sorting - by Popularity
              </option>

              <option value="rating-high">
                Sort by Rating Highest
              </option>

              <option value="rating-low">
                Sort by Rating Lowest
              </option>

              <option value="newest">
                Sort by Date Newly Listed
              </option>

              <option value="oldest">
                Sort by Date Ending Soon
              </option>

              <option value="price-high">
                Sort by Highest Price
              </option>

              <option value="price-low">
                Sort by Lowest Price
              </option>

            </select>
          </div>

          <div class="product-sort-type-holder pt-1 d-lg-none d-xl-none">
            {{#if (eq list_type null)}}
              <button class="product-list-button product-list-button-active" {{action 'setListType' null}}>
                <i class="material-icons">
                  view_module
                </i>
                Grid
              </button>
              <button class="product-list-button" {{action 'setListType' 'List'}}>
                <i class="material-icons">
                  view_list
                </i>
                List
              </button>
            {{else}}
              <button class="product-list-button" {{action 'setListType' null}}>
                <i class="material-icons">
                  view_module
                </i>
                Grid
              </button>
              <button class="product-list-button product-list-button-active" {{action 'setListType' 'List'}}>
                <i class="material-icons">
                  view_list
                </i>
                List
              </button>
            {{/if}}
          </div>

          <div class="product-list-type-holder d-none d-lg-block d-xl-block">
            {{#if (eq list_type null)}}
              <button class="product-list-button product-list-button-active" {{action 'setListType' null}}>
                <i class="material-icons">
                  view_module
                </i>
                Grid
              </button>
              <button class="product-list-button" {{action 'setListType' 'List'}}>
                <i class="material-icons">
                  view_list
                </i>
                List
              </button>
            {{else}}
              <button class="product-list-button" {{action 'setListType' null}}>
                <i class="material-icons">
                  view_module
                </i>
                Grid
              </button>
              <button class="product-list-button product-list-button-active" {{action 'setListType' 'List'}}>
                <i class="material-icons">
                  view_list
                </i>
                List
              </button>
            {{/if}}
          </div>
        </div>
        <div class="pt-3"></div>
        {{#if filteredProducts}}
          <div class="row">
            {{#each (product-sort filteredProducts sorting) as |product index|}}
              {{#if (eq list_type 'List')}}
                {{#if (is-less index listSize)}}
                  <div class="col-lg-12 col-xl-12 fade">
                      <div class="row mb-5">
                        <div class="col-lg-4 col-xl-4">
                          <div class="product-list-image-holder">
                            {{#each product.pictures as |picture index|}}
                              {{#if (is-main picture null index)}}
                                <img class="product-list-image-v1" src="{{picture.url}}">   
                              {{/if}}
                            {{/each}}
                          </div>
                        </div>
                        <div class="col-lg-8 col-xl-8">
                          <h1 class="product-list-title-v1">{{product.name}}</h1>
                          <p class="product-list-paragraph-v1">{{product.description}}</p>
                          <p class="product-list-price-v1">Starting from {{format-bid product.startingPrice}}</p>
                          <div>
                            {{#if (is-logged-in session.authToken)}}
                              {{#if wishlistItems}}
                                {{#if (belongs-to-user-wishlist wishlistItems product.id wishlistItems.length wishlist.length)}}

                                  <button class="product-list-button-v1-active mr-2" {{action 'deleteWishlist' (belongs-to-user-wishlist wishlistItems product.id wishlistItems.length wishlist.length)}}>
                                    Wishlist 
                                    <span class="pl-1">
                                      <i class="material-icons">
                                        favorite
                                      </i>
                                    </span>
                                  </button>
                                {{else}}
                                  <button class="product-list-button-v1 fade mr-2" {{action 'createWishlist' product.id}}>
                                    Wishlist 
                                    <span class="pl-1 single-product-heart">
                                      <i class="material-icons">
                                        favorite
                                      </i>
                                    </span>
                                  </button>
                                {{/if}}
                              {{else}}
                                <button class="product-list-button-v1 mr-2" {{action 'createWishlist' product.id}}>
                                  Wishlist 
                                  <span class="pl-1 single-product-heart">
                                    <i class="material-icons">
                                      favorite
                                    </i>
                                  </span>
                                </button>
                              {{/if}}
                            {{else}}
                              {{#link-to 'login' class="product-list-button-v3 mr-2"}}
                                Wishlist 
                                <span class="pl-1 single-product-heart">
                                  <i class="material-icons">
                                    favorite
                                  </i>
                                </span>
                              {{/link-to}}
                            {{/if}}
                            {{#link-to "shop.single-product" product.id class="product-list-button-v2 category-table-link"}}
                              Bid 
                              <span class="pl-1 single-product-heart">
                                <i class="material-icons">
                                  gavel
                                </i>
                              </span> 
                            {{/link-to}}
                          </div>
                        </div>
                      </div>
                  </div>
                {{/if}}
              {{else}}
                {{#if (is-less index listSize)}}
                  <div class="col-lg-4 col-xl-4 mb-5 fade">
                    {{#link-to "shop.single-product" product.id class="category-table-link"}}
                      <div class="home-product-card">
                        <div class="home-product-card-image-holder">
                          {{#each product.pictures as |picture index|}}
                            {{#if (is-main picture null index)}}
                              <img class="product-list-image-v1" src="{{picture.url}}">   
                            {{/if}}
                          {{/each}}
                        </div>
                        <div class="mt-2">
                          <h5 class="home-product-card-name-text">{{product.name}}</h5>
                          <p class="home-product-card-price-text">Starting from - {{format-bid product.startingPrice}}</p>
                        </div>
                      </div>
                    {{/link-to}}
                  </div>
                {{/if}}
              {{/if}}
            {{/each}}
          </div>
          {{#unless (is-less filteredProducts.length listSize)}}
            {{#unless (eq filteredProducts.length listSize)}}
              <div class="sp-load-more-holder text-center">
                <button class="sp-load-more-button" {{action 'increaseListSize'}}>LOAD MORE</button>
              </div>
            {{/unless}}
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>
</div>