<div class="container-fluid current-route-background mb-4">
  <div class="container">
    <p class="form-title-text">SHOP<span class="current-route-text"><span class="current-route-parent-text">SHOP /</span>   ALL CATEGORIES</span></p>
  </div>
</div>

<div class="container-fluid bottom-margin-300">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-xl-3">
        <table class="table categort-table-v2 pb-0 mb-3">
          <p class="category-table-title-v2 mt-3 mb-3 ml-3">PRODUCT CATEGORIES</p>
          <tbody>
            {{#each model.categoryList as |category|}}
              {{#if (eq category.parent_id null)}}
                <tr {{action 'toggleDetails' category}} class="product-list-pointer"> 
                  {{#if (eq parentCategory category.id)}}
                    <div class="category-table-link-v2 category-table-link-active">
                      {{category.name}}
                    </div>
                  {{else}}
                    <div class="category-table-link-v2">
                      {{category.name}}
                    </div>
                  {{/if}}
                </tr>        
                {{#if (eq category.id parentCategory)}}
                  {{#each model.categoryList as |subcategory|}}
                    {{#if (eq subcategory.parent_id category.id)}}
                      <tr class="product-list-pointer" {{action "setSelection" subcategory}} value=selectedItem>
                        {{#if (eq childCategory subcategory.id)}}
                          <div class="category-table-link-v3 category-table-link-active">
                            {{subcategory.name}}
                          </div>
                        {{else}}
                          <div class="category-table-link-v3">
                            {{subcategory.name}}
                          </div>                          
                        {{/if}}
                      </tr>
                    {{/if}}
                  {{/each}}
                {{/if}}
              {{/if}}
            {{/each}} 
            <tr {{action "setSelection" null}} class="product-list-pointer"> 
                <div class="category-table-link-v2">
                  All Categories
                </div>
              </tr> 
          </tbody>
        </table>

        <table class="table categort-table-v2 pb-0 mb-3">
          <p class="category-table-title-v2 mt-3 mb-3 ml-3">FILTER BY COLOR</p>
          <tbody>
            <tr class="product-list-pointer" {{action 'setColor' 'White'}}>
              <div class="{{is-active-item-css selectedColor 'White' 0}}">
                White
              </div>
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' 'Black'}}>
              <div class="{{is-active-item-css selectedColor 'Black' 0}}">
                Black
              </div>
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' 'Blue'}}>
              <div class="{{is-active-item-css selectedColor 'Blue' 0}}">
                Blue
              </div>
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' 'Red'}}>
              <div class="{{is-active-item-css selectedColor 'Red' 0}}">
                Red
              </div>
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' 'Orange'}}>
              <div class="{{is-active-item-css selectedColor 'Orange' 0}}">
                Orange
              </div>
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' 'Yellow'}}>
              <div class="{{is-active-item-css selectedColor 'Yellow' 0}}">
                Yellow
              </div>
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' 'Green'}}>
              <div class="{{is-active-item-css selectedColor 'Green' 0}}">
                Green
              </div>
            </tr>
            <tr class="product-list-pointer" {{action 'setColor' null}}>
              <div class="category-table-link-v2">
                All Colors
              </div>
            </tr>
          </tbody>
        </table>

        <table class="table categort-table-v2 pb-0 mb-2">
          <p class="category-table-title-v2 mt-3 mb-3 ml-3">FILTER BY SIZE</p>
          <tbody>
            <tr class="product-list-pointer" {{action 'setSize' 'Extra Small'}}>
              <div class="{{is-active-item-css selectedSize 'Extra Small' 0}}">
                Extra Small
              </div>
            </tr>
            <tr class="product-list-pointer" {{action 'setSize' 'Small'}}>
              <div class="{{is-active-item-css selectedSize 'Small' 0}}">
                Small
              </div>
            </tr>
            <tr class="product-list-pointer" {{action 'setSize' 'Medium'}}>
              <div class="{{is-active-item-css selectedSize 'Medium' 0}}">
                Medium
              </div>
            </tr>
            <tr class="product-list-pointer" {{action 'setSize' 'Large'}}>
              <div class="{{is-active-item-css selectedSize 'Large' 0}}">
                Large
              </div>
            </tr>
            <tr class="product-list-pointer" {{action 'setSize' 'Extra Large'}}>  
              <div class="{{is-active-item-css selectedSize 'Extra Large' 0}}">
                Extra Large
              </div>             
            </tr>
            <tr class="product-list-pointer" {{action 'setSize' null}}>  
              <div class="category-table-link-v2">
                All Sizes
              </div>             
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-9 col-xl-9">
        <div class="mr-0 ml-0 bottom-margin-100">
          <div class="product-sort-type-holder">
            <select class="product-list-select" onchange={{action "setSortType" value="target.value"}}>

              <option selected value="default">
                Default Sorting
              </option>

              <option value="popularity">
                Sort by Popularity
              </option>

              <option value="rating">
                Sort by Rating
              </option>

              <option value="newest">
                Sort by Date Newly Listed
              </option>

              <option value="oldest">
                Sort by Date Ending Soon
              </option>

              <option value="price-high">
                Sort by Highest Price
              </option>

              <option value="price-low">
                Sort by Lowest Price
              </option>

            </select>
          </div>

          <div class="product-list-type-holder">
            <button class="{{is-active-item-css selectedListType null 2}}" {{action 'setListType' null}}>
              <i class="material-icons">
                view_module
              </i>
              Grid
            </button>
            <button class="{{is-active-item-css selectedListType 'List' 2}}" {{action 'setListType' 'List'}}>
              <i class="material-icons">
                view_list
              </i>
              List
            </button>
          </div>
        </div>
        <div class="row">
          {{#each filteredProducts as |product|}}
            {{#if (eq selectedListType 'List')}}
              <div class="col-lg-12 col-xl-12 fade">
                  <div class="row mb-4">
                    <div class="col-lg-4 col-xl-4">
                      <div class="product-list-image-holder">
                        {{#each product.pictures as |picture index|}}
                          {{#if (is-main picture null index)}}
                            <img class="product-list-image-v1" src="{{picture.url}}">   
                          {{/if}}
                        {{/each}}
                      </div>
                    </div>
                    <div class="col-lg-8 col-xl-8">
                      <h1 class="product-list-title-v1">{{product.name}}</h1>
                      <p class="product-list-paragraph-v1">{{product.description}}</p>
                      <p class="product-list-price-v1">Starting from {{format-bid product.startingPrice}}</p>
                      <div>
                        <button class="product-list-button-v1 mr-2" {{action 'createWishlist' product.id}}>
                          Wishlist 
                          <span class="pl-1 single-product-heart">
                            <i class="material-icons">
                              favorite
                            </i>
                          </span>
                        </button>
                        {{#link-to "shop.single-product" product.id class="product-list-button-v2 category-table-link"}}
                          Bid 
                          <span class="pl-1 single-product-heart">
                            <i class="material-icons">
                              gavel
                            </i>
                          </span> 
                        {{/link-to}}
                      </div>
                    </div>
                  </div>
              </div>
            {{else}}
              <div class="col-lg-4 col-xl-4 mb-5 fade">
                {{#link-to "shop.single-product" product.id class="category-table-link"}}
                  <div class="home-product-card">
                    <div class="home-product-card-image-holder">
                      {{#each product.pictures as |picture index|}}
                        {{#if (is-main picture null index)}}
                          <img class="product-list-image-v1" src="{{picture.url}}">   
                        {{/if}}
                      {{/each}}
                    </div>
                    <div class="mt-2">
                      <h5 class="home-product-card-name-text">{{product.name}}</h5>
                      <p class="home-product-card-price-text">Starting from - {{format-bid product.startingPrice}}</p>
                    </div>
                  </div>
                {{/link-to}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>