<div class="container-fluid current-route-background mb-5">
  <div class="container">
    <p class="form-title-text">SINGLE PRODUCT<span class="current-route-text"><span class="current-route-parent-text">SHOP /</span>   SINGLE PRODUCT</span></p>
  </div>
</div>

<div class="container-fluid bottom-margin-150">
  <div class="container">
    <div class="row single-product-margin fade">
      <div class="col-lg-5 col-xl-5">
        {{#each model.product.pictures as |picture index|}}
          {{#if (is-main picture currentPicture index)}}
            <div class="single-product-picture-background single-product-main-picture fade">
              <div class="single-product-main-image-holder">
                <img class="single-product-main-image" src="{{picture.url}}">
              </div>
            </div>
          {{/if}}
        {{/each}}
        <div class="row single-product-margin-small"> 
          {{#each model.product.pictures as |picture index|}}
            {{#unless (is-main picture currentPicture index)}}
              <div class="col-lg-3 col-xl-3 p-0 m-0 account-profile-pointer" {{action 'setCurrentPicture' picture}}>
                <div class="single-product-picture-background single-product-side-picture m-1 p-0">	
                  <img class="single-product-secondary-image m-0 p-0" src="{{picture.url}}">
                </div>
              </div>
            {{/unless}}
          {{/each}}
        </div>
      </div>
      <div class="col-lg-7 col-xl-7">
        <h1 class="title-text-links">{{model.product.name}}</h1>
        <p class="single-product-price-text">Starting from - {{format-bid model.product.startingPrice}}</p>
        <div class="mt-4">

          {{#if (is-logged-in)}}
            <form>
              {{input type="string" value=bidAmount class="single-product-bid-input"}}
              <button type="submit" class="single-product-featured-button-v2" {{action "createBid" model.product.id}}>PLACE BID</button>
              <br>
              {{#if amountHasError}}
                <div class="validation-error-message mt-1 fade">
                  {{amountErrorMessage}}
                </div>
              {{/if}}
            </form>
          {{else}}
            {{input type="string" value=bidAmount class="single-product-bid-input"}}
            {{#link-to "login" class="single-product-featured-button"}}
              PLACE BID
            {{/link-to}}
          {{/if}}
          <p class="single-product-small-text mt-1">Enter -
            {{#if (eq model.product.bids.length 0)}}
              {{format-bid model.product.startingPrice}}
            {{else}}
              {{format-bid (get-biggest model.product.bids)}}
            {{/if}}    
          or more</p>
        </div>
          <div class="mt-5">
            <p class="single-product-small-text m-0 p-0">Highest Bid: 
              <span class="single-product-highest-bid-amount ml-2">
                {{#if (eq model.product.bids.length 0)}}
                  {{format-bid model.product.startingPrice}}
                {{else}}
                  {{format-bid (get-biggest model.product.bids)}}
                {{/if}}
              </span>
            </p>
            {{#if (eq model.product.bids.length 0)}}
              <p class="single-product-small-text m-0 p-0">Number of Bids: 0</p>
            {{else}}
              <p class="single-product-small-text m-0 p-0">Number of Bids: {{model.product.bids.length}}</p>
            {{/if}}
            <p class="single-product-small-text m-0 p-0">Time Remaining: {{duration model.product.publishDate model.product.expireDate}}</p>
          </div>
        {{#if (is-logged-in)}}
          <button type="submit" class="single-product-watchlist-btn mt-4" {{action "createWishlist" model.product.id}}>Watchlist</button>
        {{else}}
          <div class="single-product-watchlist-holder">
            {{#link-to "login" class="single-product-watchlist-btn-v2"}}
              Watchlist
            {{/link-to}}
          </div>
        {{/if}}
        <p class="single-product-description-text mt-3">Details</p>
        <hr class="single-product-underline">
        <p>{{model.product.description}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5 bottom-margin-150">
  <div class="container">
    <div class="row">
      <table class="account-bids-table fade">
        <tbody>
          <tr class="account-bids-table-header row m-0 p-0">
            <th class="account-header-text col-xl-8 col-lg-8">Bidder</th>
            <th class="account-header-text col-xl-2 col-lg-2">Date</th>
            <th class="account-header-text col-xl-2 col-lg-2">Bid</th>
          </tr>
          {{#each sortedBids as |bid index|}}
            {{#if (is-less index 5)}}
              <tr>
                <div class="row">
                  <div class="col-xl-8 col-lg-8 sp-margin-auto">
                    <div class="single-product-user-holder-v1 row">
                      <div class="single-product-bidder-user-icon">
                        <img src="{{bid.user.avatar}}" class="single-product-bid-user-avatar">
                      </div>
                      <span class="sp-margin-auto ml-3">{{bid.user.name}} {{bid.user.surname}}</span>
                    </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 sp-margin-auto">
                    <div class="single-product-user-holder-v2">
                      {{bid.date}}
                    </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 sp-margin-auto">
                    <div class="single-product-user-holder-v3">
                      {{format-bid bid.amount}}
                    </div>
                  </div>
                </div> 
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>