<div class="container-fluid current-route-background bottom-margin-50">
  <div class="container">
    <p class="form-title-text">PROFILE<span class="current-route-text"><span class="current-route-parent-text">MY ACCOUNT /</span>   PROFILE</span></p>
  </div>
</div>

<div class="container-fluid mb-4">
  <div class="container">
    <div>
      {{#link-to 'account.profile' class="account-navigation-link-active"}}
        {{material-icon "person"}} Profile
      {{/link-to}}
      {{#link-to 'account.sales' class="account-navigation-link"}}
        {{material-icon "view_list"}} Sales
      {{/link-to}}
      {{#link-to 'account.bids' class="account-navigation-link"}}
        {{material-icon "gavel"}} Bids
      {{/link-to}}
      {{#link-to 'account.wishlist' class="account-navigation-link"}}
        {{material-icon "card_giftcard"}} Wishlist
      {{/link-to}}
      {{#link-to 'account.settings' class="account-navigation-link"}}
        {{material-icon "settings"}} Settings
      {{/link-to}}
    </div>
  </div>
</div>

<div class="container-fluid bottom-margin-400">
  <div class="container">
    <form>
      <div class="card fade">
        <p class="account-profile-card-top">REQUIRED</p>
        <div class="row m-0 p-0">
          <div class="account-profile-card-left-side">
            <div class="account-profile-image-holder">
              <img src="" class="account-profile-image">
            </div>
            <button class="account-profile-card-image-button">CHANGE PHOTO</button>
          </div>
          <div class="account-profile-card-right-side account-profile-card-body-holder">
            <div>
              <label class="account-profile-form-text">First Name</label>
              {{input type="string" value=name class="account-profile-input-form-static account-profile-form-text mb-3"}}

              <label class="account-profile-form-text">Last Name</label>
              {{input type="string" value=surname class="account-profile-input-form-static account-profile-form-text mb-3"}}

              <label class="account-profile-form-text">I am</label>
              <br>
              <select onchange={{action "setSelection" value="target.value"}} class="account-profile-input-form-half-static account-profile-form-text account-profile-pointer">
                <option disabled selected> -- Gender? -- </option>
                {{#if (is-equal model.user.gender 'male')}}
                  <option value="male" selected>
                    Male
                  </option>
                  {{else}}
                  <option value="male">
                    Male
                  </option>
                {{/if}}
                {{#if (is-equal model.user.gender 'female')}}
                  <option value="female" selected>
                    Female
                  </option>
                {{else}}
                  <option value="female">
                    Female
                  </option>
                {{/if}}
                {{#if (is-equal model.user.gender 'other')}}
                  <option value="other" selected>
                    Other
                  </option>
                {{else}}
                  <option value="other">
                    Other
                  </option>
                {{/if}}
              </select>
              <br>
              <label class="account-profile-form-text mt-3">Date of Birth</label>
              <br>
                {{bootstrap-datepicker value=dateOfBirth class="account-profile-input-form-half-static account-profile-form-text account-profile-pointer"}}
              <br>
              <label class="account-profile-form-text mt-5">Phone Number</label>
              {{input type="string" value=phoneNumber class="account-profile-input-form-static account-profile-form-text"}}
              <label class="account-profile-form-text mt-3">Email Address</label>
              <p class="account-profile-input-form-static account-profile-form-text cursor-not-allowed">{{model.user.email}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-5">
        <p class="account-profile-card-top">OPTIONAL</p>
        <div class="row m-0 p-0">
          <div class="account-profile-card-left-side-address"></div>
          <div class="account-profile-card-right-side-address account-profile-card-body-holder">
            <div>
              <h1 class="account-profile-address-title mb-4">Address</h1>
              <label class="account-profile-form-text">Street</label>
              {{input type="string" value=street placeholder="e.g. 5th Avenue" class="account-profile-input-form-static account-profile-form-text"}}
              <br>
              <div class="row p-0 m-0">
                <div class="account-profile-input-form-holder">
                  <div class="mr-2">
                    <label class="account-profile-form-text mt-3">City</label>
                    <br>
                    {{input type="string" value=city name="{{model.user.address.city}}" placeholder="e.g. New York" class="account-profile-input-form-half-static account-profile-form-text"}}
                  </div>
                </div>
                <div class="account-profile-input-form-holder">
                  <label class="account-profile-form-text mt-3">ZipCode</label>
                  <br>
                  {{input type="string" value=zipCode name="{{model.user.street}}" placeholder="e.g. 10065" class="account-profile-input-form-half-static account-profile-form-text"}}
                </div>
              </div>
              <br>
              <label class="account-profile-form-text">State</label>
              {{input type="string" value=state name="{{model.user.street}}" placeholder="e.g. New York" class="account-profile-input-form-static account-profile-form-text"}}
              <br>
              <label class="account-profile-form-text mt-3">Country</label>
              {{input type="string" value=country placeholder="e.g. USA" class="account-profile-input-form-static account-profile-form-text"}}
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="account-profile-save-holder row mt-4 p-0 mr-0 ml-0">
        <button class="account-profile-save-info-button" {{action "updateUser"}}>
          SAVE INFO {{material-icon "keyboard_arrow_right"}}
        </button>
        {{#each flashMessages.queue as |flash|}}
          <p class="checkmarker fade">{{material-icon "done"}}</p>
        {{/each}}
      </div>
    </form>
  </div>
</div>