<div class="container-fluid current-route-background bottom-margin-50">
  <div class="container">
    <p class="form-title-text">PROFILE<span class="current-route-text"><span class="current-route-parent-text">MY ACCOUNT /</span>   PROFILE</span></p>
  </div>
</div>

<div class="container-fluid mb-4">
  <div class="container">
    <div>
      {{#link-to 'account.profile' class="account-navigation-link-active"}}
        <i class="material-icons">
          person
        </i>
        Profile
      {{/link-to}}

      {{#link-to 'account.sales' class="account-navigation-link"}}
        <i class="material-icons">
          view_list
        </i>
        Sales
      {{/link-to}}

      {{#link-to 'account.bids' class="account-navigation-link"}}
        <i class="material-icons">
          gavel
        </i>
        Bids
      {{/link-to}}

      <div class="d-lg-none d-xl-none">
        <br>
      </div>

      {{#link-to 'account.wishlist' class="account-navigation-link"}}
        <i class="material-icons">
          card_giftcard
        </i>
        Wishlist
      {{/link-to}}

      {{#link-to 'account.settings' class="account-navigation-link"}}
        <i class="material-icons">
          settings
        </i>
        Settings
      {{/link-to}}
    </div>
  </div>
</div>

<div class="container-fluid bottom-margin-400">
  <div class="container">
    <form autocomplete="off">
      <div class="card fade">
        <p class="account-profile-card-top">REQUIRED</p>
        <div class="profile-card">
          <div class="row m-0 p-0 mb-4">
            <div class="col-sm-12 col-md-4 col-lg-3 col-lg-3">
              <div class="account-profile-image-holder">
                <img src="{{model.user.avatar}}" class="account-profile-image">
                {{ember-progress-bar progress=progress}}
                <label class="account-profile-card-image-button" for="upload-photo">UPLOAD AN IMAGE</label>
                {{file-upload class="display-none" id="upload-photo" onComplete="imageUploadComplete" onProgress="imageUploadLoading"}}
              </div>

            </div>
            <div class="col-sm-12 col-md-8 col-lg-6 col-lg-6">
              <div class="d-md-none d-lg-none d-xl-none">
                <div class="mt-2"></div>
              </div> 
              <label class="account-profile-form-text account-profile-pointer" for="nameInput">First Name</label>
              {{input type="string" value=name class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="nameInput"}}
              {{#if nameHasError}}
                <div class="validation-error-message mb-2 fade">
                  {{nameErrorMessage}}
                </div>
              {{/if}}

              <label class="account-profile-form-text mt-3 account-profile-pointer" for="lastNameInput">Last Name</label>
              {{input type="string" value=surname class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="lastNameInput"}}
              {{#if surnameHasError}}
                <div class="validation-error-message mb-2 fade">
                  {{surnameErrorMessage}}
                </div>
              {{/if}}

              <label class="account-profile-form-text mt-3">I am</label>
              <br>
              <select onchange={{action "setSelection" value="target.value"}} class="account-profile-select account-profile-form-text account-profile-pointer">
                <option disabled selected> -- Gender? -- </option>
                {{#if (is-equal model.user.gender 'male')}}
                  <option value="male" selected>
                    Male
                  </option>
                  {{else}}
                  <option value="male">
                    Male
                  </option>
                {{/if}}
                {{#if (is-equal model.user.gender 'female')}}
                  <option value="female" selected>
                    Female
                  </option>
                {{else}}
                  <option value="female">
                    Female
                  </option>
                {{/if}}
                {{#if (is-equal model.user.gender 'other')}}
                  <option value="other" selected>
                    Other
                  </option>
                {{else}}
                  <option value="other">
                    Other
                  </option>
                {{/if}}
              </select>
              <br>
              <label class="account-profile-form-text mt-3 account-profile-pointer" for="dateInput">Date of Birth</label>
              <br>
                {{bootstrap-datepicker value=dateOfBirth placeholder=currentDatePlaceHolder autoclose=true format="dd/mm/yyyy" endDate=currentDate class="account-profile-input-form-half-static account-profile-form-text account-profile-pointer" id="dateInput"}}
              <br>
              {{#if dateOfBirthHasError}}
                <div class="validation-error-message mb-2 fade">
                  {{dateOfBirthErrorMessage}}
                </div>
              {{/if}}
              <label class="account-profile-form-text mt-3 account-profile-pointer" for="numberInput">Phone Number</label>
              {{input type="string" value=phoneNumber placeholder="e.g. +53 32 512 356" class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="numberInput"}}
              {{#if phoneNumberHasError}}
                <div class="validation-error-message mb-2 fade">
                  {{phoneNumberErrorMessage}}
                </div>
              {{/if}}
              <label class="account-profile-form-text mt-3">Email Address</label>
              <p class="account-profile-input-form-static account-profile-form-text cursor-not-allowed">{{model.user.email}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-5">
        <p class="account-profile-card-top">OPTIONAL</p>
        <div class="profile-card-address">
          <div class="row m-0 p-0 mb-5">
            <div class="col-sm-0 col-md-0 col-lg-3 col-lg-3"></div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-lg-6"> 
              <h1 class="account-profile-address-title mb-4">Address</h1>
              <label class="account-profile-form-text account-profile-pointer" for="streetInput">Street</label>
              {{input type="string" value=street placeholder="e.g. 5th Avenue" class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="streetInput"}}
              {{#if streetHasError}}
                <div class="validation-error-message mb-2 fade">
                  {{streetErrorMessage}}
                </div>
              {{/if}}
              <br>
              <div class="row p-0 m-0">
                <div class="account-profile-input-form-holder">
                  <div class="mr-2">
                    <label class="account-profile-form-text mt-3 account-profile-pointer" for="cityInput">City</label>
                    <br>
                    {{input type="string" value=city placeholder="e.g. New York" class="account-profile-input-form-half-static account-profile-form-text" autocomplete="off" id="cityInput"}}
                    {{#if cityHasError}}
                      <div class="validation-error-message mb-2 fade">
                        {{cityErrorMessage}}
                      </div>
                    {{/if}}
                  </div>
                </div>
                <div class="account-profile-input-form-holder">
                  <label class="account-profile-form-text mt-3 account-profile-pointer" for="zipCodeInput">ZipCode</label>
                  <br>
                  {{input type="string" value=zipCode placeholder="e.g. 10065" class="account-profile-input-form-half-static account-profile-form-text" autocomplete="off" id="zipCodeInput"}}
                  {{#if zipCodeHasError}}
                    <div class="validation-error-message mb-2 fade">
                      {{zipCodeErrorMessage}}
                    </div>
                  {{/if}}
                </div>
              </div>
              <br>
              <label class="account-profile-form-text account-profile-pointer" for="stateInput">State</label>
              {{input type="string" value=state placeholder="e.g. New York" class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="stateInput"}}
              {{#if stateHasError}}
                <div class="validation-error-message mb-2 fade">
                  {{stateErrorMessage}}
                </div>
              {{/if}}
              <br>
              <label class="account-profile-form-text mt-3 account-profile-pointer" for="countryInput">Country</label>
              {{input type="string" value=country placeholder="e.g. USA" class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="countryInput"}}
              {{#if countryHasError}}
                <div class="validation-error-message mb-2 fade">
                  {{countryErrorMessage}}
                </div>
              {{/if}}
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="account-profile-save-holder row mt-4 p-0 mr-0 ml-0">
        <button class="account-profile-save-info-button" {{action "updateUser"}}>
          SAVE INFO 
          <i class="material-icons">
            keyboard_arrow_right
          </i>
        </button>
        {{#each flashMessages.queue as |flash index|}}
          {{#if (eq index 0)}}
            {{#if (eq hasError true)}}
              <p class="errormarker fade">
                <i class="material-icons">
                  error_outline
                </i>
              </p>
            {{else}}
              <p class="checkmarker fade">
                <i class="material-icons">
                  done
                </i>
              </p>
            {{/if}}
          {{/if}}
        {{/each}}
      </div>
    </form>
  </div>
</div>