{{#if (eq page 1)}}
  <div class="container-fluid pt-4">
    <div class="container">
      <div class="row fade">
        <div class="col-sm-0 col-md-0 col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card margin-card">
            <h1 class="card-title">Detailed Information about the Product</h1>
            <div class="card-body mr-4 ml-4">
              <form autocomplete="off" method="POST">
                <div class="form-group mt-4">
                  <label class="sale-item-label-text">What do you sell?</label>
                  {{input type="text" value=name class="form-control form-background-color p-4"}}
                  <span class="sale-item-product-name-guide-text mt-1">2-5 words (60 characters)</span>
                </div>
                {{#if nameHasError}}
                  <div class="validation-error-message fade">
                    {{nameErrorMessage}}
                  </div>
                {{/if}}
                
                <div class="row p-0 m-0 mt-5 mb-5 full-width">
                  <div class="sale-item-category-holder">
                    <div class="mr-2">
                      <select onchange={{action "setCategory" value="target.value"}} class="sale-item-select">
                        <option disabled selected> Select Category </option>
                        {{#each model.categoryList as |cat|}}
                          {{#if (eq cat.parent_id null)}}
                            <option value={{cat.id}}>
                              {{cat.name}}
                            </option>
                          {{/if}}
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <div class="sale-item-category-holder">
                    <select onchange={{action "setSubCategory" value="target.value"}} class="sale-item-select">
                      <option disabled selected> Select SubCategory </option>
                        {{#if (eq category null)}}

                        {{else}}
                          {{#each model.categoryList as |cat|}}
                            {{#if (eq category cat.parent_id)}}
                              <option value={{cat}}>
                                {{cat.name}}
                              </option>
                            {{/if}}
                          {{/each}}
                        {{/if}}
                    </select>
                  </div>
                </div>
                <div class="full-width">
                  <label class="mb-1 sale-item-label-text">Description?</label>
                  <textarea rows="4" cols="50" value=description class="full-width sale-item-description-text-area"></textarea>
                  <span class="sale-item-product-name-guide-text mt-1">100 words (700 characters)</span>
                </div>
                <div class="mt-5 bottom-margin-150">
                  {{#link-to "account.sell.entry" class="sale-item-back-button"}}
                    <i class="material-icons">
                      keyboard_arrow_left
                    </i> 
                    Back
                  {{/link-to}}
                  <button class="sale-item-next-button" {{action 'setPage' 2}}>
                    Next
                    <i class="material-icons">
                      keyboard_arrow_right
                    </i> 
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{#if (eq page 2)}}
  <div class="container-fluid pt-4">
    <div class="container">
      <div class="row fade">
        <div class="col-sm-0 col-md-0 col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card margin-card">
            <h1 class="card-title">SET PRICES</h1>
            <div class="card-body mr-4 ml-4">
              <form autocomplete="off" method="POST">
                <div class="form-group mt-4">
                  <label class="sale-item-label-text">Your starting price</label>
                  {{input type="text" value=startingPrice class="form-control form-background-color p-4"}}
                </div>
                
                <div class="row p-0 m-0 mt-5 mb-1 full-width">
                  <div class="sale-item-category-holder">
                    <div class="mr-2">
                      <label class="mb-1 sale-item-label-text">Start date</label>
                      {{bootstrap-datepicker value=startDate placeholder="14/04/2018" class="account-profile-input-form-half-static account-profile-form-text account-profile-pointer"}}
                    </div>
                  </div>
                  <div class="sale-item-category-holder">
                    <label class="mb-1 sale-item-label-text">End date</label>
                    {{bootstrap-datepicker value=endDate placeholder="14/04/2025" class="account-profile-input-form-half-static account-profile-form-text account-profile-pointer"}}
                  </div>
                </div>
                <div class="full-width bottom-margin-100">
                  <p class="sale-item-text-addition">The auction will be automatically closed when the end time comes. The highest bid will win the auction.</p>
                </div>
                <div class="bottom-margin-200">
                  <button class="sale-item-back-button" {{action 'setPage' 1}}>
                    <i class="material-icons">
                      keyboard_arrow_left
                    </i> 
                    Back
                  </button>
                  <button class="sale-item-next-button"  {{action 'setPage' 3}}>
                    Next
                    <i class="material-icons">
                      keyboard_arrow_right
                    </i> 
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{#if (eq page 3)}}
  <div class="container-fluid pt-4">
    <div class="container">
      <div class="row fade">
        <div class="col-sm-0 col-md-0 col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card margin-card">
            <h1 class="card-title">LOCATION & SHIPPING</h1>
            <div class="card-body mr-4 ml-4">
              <form autocomplete="off" method="POST">
                <div class="form-group mt-4">
                  <label class="sale-item-label-text">Address</label>
                  {{input type="text" value=address class="form-control form-background-color p-4"}}
                </div>
        
                <div class="row p-0 m-0 mt-5 mb-5 full-width">
                  <div class="sale-item-category-holder">
                    <div class="mr-2">
                      <select onchange={{action "setCategory" value="target.value"}} class="sale-item-select">
                        <option disabled selected> Select Category </option>
                     
                        <option value="female">
                          Female
                        </option>
                      
                        <!-- {{#if (is-equal model.user.gender 'other')}}
                          <option value="other" selected>
                            Other
                          </option>
                        {{else}}
                          <option value="other">
                            Other
                          </option>
                        {{/if}} -->

                      </select>
                    </div>
                  </div>
                  <div class="sale-item-category-holder">
                    <select onchange={{action "setCategory" value="target.value"}} class="sale-item-select">
                      <option disabled selected> Select Category </option>
                   
                      <option value="female">
                        Female
                      </option>
                    
                      <!-- {{#if (is-equal model.user.gender 'other')}}
                        <option value="other" selected>
                          Other
                        </option>
                      {{else}}
                        <option value="other">
                          Other
                        </option>
                      {{/if}} -->

                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="sale-item-label-text">Zip Code</label>
                  {{input type="text" value=zipCode class="form-control form-background-color p-4"}}
                </div>
                <div class="form-group mt-4">
                  <label class="sale-item-label-text">Phone</label>
                  {{input type="text" value=phone class="form-control form-background-color p-4"}}
                </div>
                <div class="mt-4 bottom-margin-150">
                  <div class="p-0 m-0">
                    {{input type="checkbox" checked=shippingCost class="p-0 m-0 form-background-color"}}
                    <span class="sale-item-checkbox-text pl-1">Do you want to bear shipping cost?</span>
                  </div>
                  <p class="sale-item-checkbox-additional-text">
                    The average priece of shipping cost is $10.00.
                    You have to provide us payment infromations.
                  </p>
                </div>
                <div class="mt-5 bottom-margin-255">
                  <button class="sale-item-back-button" {{action 'setPage' 2}}>
                    <i class="material-icons">
                      keyboard_arrow_left
                    </i> 
                    Back
                  </button>
                  <button class="sale-item-next-button">
                    Next
                    <i class="material-icons">
                      keyboard_arrow_right
                    </i> 
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}