<div class="container-fluid current-route-background bottom-margin-50">
  <div class="container">
    <p class="form-title-text">MY ACCOUNT<span class="current-route-text"><span class="current-route-parent-text">MY ACCOUNT /</span>   NEW PRODUCT</span></p>
  </div>
</div>

<div class="container-fluid pt-4">
  <div class="container">
    <div class="row fade">
      <div class="col-sm-0 col-md-0 col-lg-2"></div>
      <div class="col-lg-8">
        <div class="card margin-card">
          <h1 class="card-title">NEW PRODUCT</h1>
          <div class="card-body mr-4 ml-4">
            <form autocomplete="off" method="POST">
              <div class="form-group mt-4 mb-0 pb-0">
                <label class="sale-item-label-text" for="productNameInput">Item Name</label>
                {{input type="text" value=nameInput placeholder="e.g. New White Dress" class="account-profile-input-form-static account-profile-form-text form-background-color" id="productNameInput"}}
              </div>
              {{#if productNameHasError}}
                <div class="validation-error-message mt-1 fade">
                  {{productNameErrorMessage}}
                </div>
              {{/if}}
              
              <div class="row p-0 m-0 mt-5 mb-4 full-width">
                <div class="sale-item-category-holder">
                  <div class="mr-2">
                    <select onchange={{action "setCategory" value="target.value"}} class="sale-item-select">
                      <option disabled selected> Select Category </option>
                      {{#each model.categoryList as |cat|}}
                        {{#if (eq cat.parent_id null)}}
                          {{#if (eq cat.id category)}}
                            <option value={{cat.id}} selected>
                              {{cat.name}}
                            </option>
                          {{else}}
                            <option value={{cat.id}}>
                              {{cat.name}}
                            </option>
                          {{/if}}
                        {{/if}}
                      {{/each}}
                    </select>
                  </div>
                  {{#if categoryHasError}}
                    <div class="validation-error-message mt-1 fade">
                      {{categoryErrorMessage}}
                    </div>
                  {{/if}}
                </div>
                <div class="sale-item-category-holder">
                  <select onchange={{action "setSubCategory" value="target.value"}} class="sale-item-select">
                    <option disabled selected> Select SubCategory </option>
                      {{#if (eq category null)}}

                      {{else}}
                        {{#each model.categoryList as |cat|}}
                          {{#if (eq category cat.parent_id)}}
                            {{#if (eq cat.id subCategory)}}
                              <option value={{cat.id}} selected>
                                {{cat.name}}
                              </option>
                            {{else}}
                              <option value={{cat.id}}>
                                {{cat.name}}
                              </option>
                            {{/if}}
                          {{/if}}
                        {{/each}}
                      {{/if}}
                  </select>
                  {{#if subCategoryHasError}}
                    <div class="validation-error-message mt-1 fade">
                      {{subCategoryErrorMessage}}
                    </div>
                  {{/if}}
                </div>
              </div>
              <div class="full-width">
                <label class="mb-1 sale-item-label-text" for="descriptionInput">Description</label>
                {{textarea rows="4" cols="50" value=descriptionInput placeholder="e.g. Fancy dress made from 100% silk" class="full-width sale-item-description-text-area pt-2 pr-3 pb-2 pl-3 account-profile-form-text" id="descriptionInput"}}
                {{#if descriptionHasError}}
                  <div class="validation-error-message mt-1 fade">
                    {{descriptionErrorMessage}}
                  </div>
                {{/if}}
              </div>
              <div class="form-group mt-4 mb-0">
                <label class="sale-item-label-text" for="colorInput">Color</label>
                {{input type="text" value=colorInput placeholder="e.g. White" class="account-profile-input-form-static account-profile-form-text form-background-color" id="colorInput"}}
              </div>
              {{#if colorHasError}}
                <div class="validation-error-message mt-1 fade">
                  {{colorErrorMessage}}
                </div>
              {{/if}}
              <div class="form-group mt-4 mb-0">
                <label class="sale-item-label-text" for="sizeInput">Size</label>
                {{input type="text" value=sizeInput placeholder="e.g. Small" class="account-profile-input-form-static account-profile-form-text form-background-color" id="sizeInput"}}
              </div>
              {{#if sizeHasError}}
                <div class="validation-error-message mt-1 fade">
                  {{sizeErrorMessage}}
                </div>
              {{/if}}
              <div class="form-group mt-4 mb-0">
                <label class="sale-item-label-text" for="priceInput">Starting price</label>
                {{input type="text" value=startingPriceInput placeholder="e.g. $254.99" class="account-profile-input-form-static account-profile-form-text form-background-color" id="priceInput"}}
              </div>
              {{#if startingPriceHasError}}
                <div class="validation-error-message mt-1 fade">
                  {{startingPriceErrorMessage}}
                </div>
              {{/if}}
              <div class="row p-0 m-0 mt-4 mb-1 full-width">
                <div class="sale-item-category-holder">
                  <div class="mr-2">
                    <label class="mb-1 sale-item-label-text" for="startInput">Start date</label>
                    {{bootstrap-datepicker changeDate="changeStartDate" value=startDateInput placeholder=currentDate todayHighlight=true format="dd/mm/yyyy" autoclose=true class="account-profile-input-form-half-static account-profile-form-text account-profile-pointer" id="startInput"}}
                  </div>
                  {{#if publishDateHasError}}
                    <div class="validation-error-message mt-1 fade">
                      {{publishDateErrorMessage}}
                    </div>
                  {{/if}}
                </div>
                <div class="sale-item-category-holder mb-2">
                  <label class="mb-1 sale-item-label-text" for="endInput">End date</label>
                  {{bootstrap-datepicker changeDate="changeEndDate" value=endDateInput placeholder="14/04/2025" todayHighlight=true format="dd/mm/yyyy" autoclose=true startDate=(get-start-date startDate) class="account-profile-input-form-half-static account-profile-form-text account-profile-pointer" id="endInput"}}
                  {{#if expiryDateHasError}}
                    <div class="validation-error-message mt-1 fade">
                      {{expiryDateErrorMessage}}
                    </div>
                  {{/if}}
                </div>
              </div>
              <div class="mt-4 ml-1">
                {{input type="checkbox" checked=isFeatured id="featuredCheckbox"}}
                <label class="mb-1 sale-item-label-text" for="featuredCheckbox">Featured</label>
              </div>
              <div class="mt-5 bottom-margin-150">
                <button class="sale-item-done-button" {{action 'saveProduct'}}>
                  SAVE
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>