<div class="container-fluid current-route-background bottom-margin-50">
  <div class="container">
    <p class="form-title-text">MY ACCOUNT<span class="current-route-text"><span class="current-route-parent-text">MY ACCOUNT /</span>   USERS</span></p>
  </div>
</div>

<div class="container-fluid mb-4">
  <div class="container">
    <div>

      {{#link-to 'account.admin.products' class="account-navigation-link"}}
        <i class="material-icons">
          card_giftcard
        </i>
        Items
      {{/link-to}}

      {{#link-to 'account.admin.categories' class="account-navigation-link"}}
        <i class="material-icons">
          view_list
        </i>
        Categories
      {{/link-to}}

      {{#link-to 'account.admin.users' class="account-navigation-link-active"}}
        <i class="material-icons">
          group
        </i>
        Users
      {{/link-to}}

    </div>
  </div>
</div>

<div class="container-fluid mt-5 bottom-margin-150">
  <div class="container fade">
    <div class="row mr-0 ml-0 pr-0 pl-0">
      <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 mr-0 ml-0 pl-0 pr-0">
        <div class="card mr-0 ml-0 pl-0 pr-0 card-min-height-800">
          <h1 class="card-title-category-main-v2">USERS</h1>
          <div class="card-body mt-0 pt-0 mr-0 ml-0 pl-0 pr-0">  
            <div class="mt-2"></div>  
            {{#each model.users as |user|}}
    
              {{#if (eq user.id currentUser.id)}}
                <div {{action 'toggleDetails' user}} class="category-background-active account-profile-pointer full-width">
                  <div class="single-product-user-holder-v1 row mr-0 ml-0">
                    <div class="single-product-bidder-user-icon">
                      <img src="{{user.avatar}}" class="single-product-bid-user-avatar">
                    </div>
                    <span class="sp-margin-auto ml-3">{{user.name}} {{user.surname}}</span>
                  </div>
                </div>
                <br>
              {{else}}
                <div {{action 'toggleDetails' user}} class="account-profile-pointer full-width">
                  <div class="single-product-user-holder-v1 row mr-0 ml-0">
                    <div class="single-product-bidder-user-icon">
                      <img src="{{user.avatar}}" class="single-product-bid-user-avatar">
                    </div>
                    <span class="sp-margin-auto ml-3">{{user.name}} {{user.surname}}</span>
                  </div>
                </div>
                <br>
              {{/if}}
              
            {{/each}}
            <div class="row mr-0 ml-0 category-form-padding pr-3">
              {{#if (eq categoryInputEnabled true)}}
                {{input type="text" value=parentNameInput placeholder="Name the Category" class="category-input-form form-background-color col-10" autocomplete="off"}}
                {{#if categoryNameHasError}}
                  <div class="validation-error-message mt-1 fade">
                    {{categoryNameErrorMessage}}
                  </div>
                {{/if}}
                <span class="col-2 pt-2 pl-2 category-add-button" {{action 'createParentCategory'}}>
                  <i class="material-icons">
                    add
                  </i>
                </span>
              {{/if}}
            </div>
            <div class="ml-3 mt-2 add-category-text account-profile-pointer" {{action 'toggleUserCreate'}}>
              <i class="material-icons">
                add
              </i>
              <span class="">ADD A USER</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-7 col-lg-8 col-xl-9 mr-0 ml-0 pl-0 pr-0">
        <div class="card mr-0 ml-3 pl-0 pr-0 card-min-height-800">
          {{#if (eq currentUser null)}}
            {{#if (eq userCreateEnabled true)}}
              <h1 class="card-title-category-additional text-center">ADD A USER</h1>
            {{else}}              
              <h1 class="card-title-category-additional text-center">USER INFO</h1>
            {{/if}}
          {{else}}
            <h1 class="card-title-category-additional text-center">{{currentUser.name}} {{currentUser.surname}}</h1>
          {{/if}}
          <div class="card-body mt-0 pt-0 mr-0 ml-0 pl-0 pr-0">      
            {{#if (eq currentUser null)}}
              {{#if (eq userCreateEnabled true)}}
                <div class="mr-5 ml-5 pr-3 pl-3 mt-5">
                  <form autocomplete="off" method="POST">
                    <div class="form-group mt-4">
                      <label class="account-profile-pointer" for="nameInput">First Name</label>
                      {{input type="text" value=name class="account-profile-input-form-static account-profile-form-text" id="nameInput"}}
                      {{#if nameHasError}}
                        <div class="validation-error-message fade">
                          {{nameErrorMessage}}
                        </div>
                      {{/if}}
                    </div>
                 
                    
                    <div class="form-group mt-2">
                      <label class="account-profile-pointer" for="lastNameInput">Last Name</label>
                      {{input type="text" value=surname class="account-profile-input-form-static account-profile-form-text" id="lastNameInput"}}
                      {{#if surnameHasError}}
                        <div class="validation-error-message fade">
                          {{surnameErrorMessage}}
                        </div>
                      {{/if}}
                    </div>
                    
                    
                    <div class="form-group mt-2">
                      <label class="account-profile-pointer" for="emailInput">Enter Email</label>
                      {{input type="email" autocomplete="off" value=email class="account-profile-input-form-static account-profile-form-text" id="emailInput"}}
                      {{#if emailHasError}}
                        <div class="validation-error-message fade">
                          {{emailErrorMessage}}
                        </div>
                      {{/if}}
                    </div>
                    

                    <div class="form-group mt-2">
                      <label class="account-profile-pointer" for="passwordInput">Password</label>
                      {{input type="password" autocomplete="off" value=password  class="account-profile-input-form-static account-profile-form-text" id="passwordInput"}}
                      {{#if passwordHasError}}
                        <div class="validation-error-message fade">
                          {{passwordErrorMessage}}
                        </div>
                      {{/if}}
                    </div>
                    

                    {{#if emailExistsHasError}}
                      <div class="validation-error-message fade">
                        {{emailExistsErrorMessage}}
                      </div>
                    {{/if}}
                    
                    <div class="account-profile-save-holder row mt-3 mb-3 p-0 mr-1 ml-0">
                      <button class="users-profile-cancle-button mr-2" {{action "cancle"}}>CANCLE</button>
                      <button class="users-profile-save-info-button" {{action "createUser"}}>CREATE</button>
                    </div>
                    
                  </form>
                </div>
              {{/if}}
            {{else}}
              {{#if (eq userEditEnabled true)}}
                <div class="mr-5 ml-5 pr-3 pl-3 mt-5">
                  <div class="row m-0 p-0 mb-4 mr-0 ml-0">
                    <div class="d-none d-xl-block">
                      <div class="row mr-0 ml-0">
                        <div class="admin-users-icon">
                          <img src="{{currentUser.avatar}}" class="admin-users-avatar">
                        </div>
                        <div class="ml-5 mt-auto">
                          <div class="mb-3">
                            <label class="admin-upload-picture-button" for="upload-photo">UPLOAD NEW PHOTO</label>
                            {{file-upload class="display-none" id="upload-photo" onComplete="imageUploadComplete" onProgress="imageUploadLoading"}}
                          </div>
                          <div class="mb-5">
                            <span class="admin-delete-picture-button" {{action 'deleteUserPicture'}}>REMOVE</span>
                          </div>
                          <p class="admin-picture-text">Image should be at least 400 x 400 px as a png or jpg file</p>
                        </div>
                        <div class="mt-2">
                          {{ember-progress-bar progress=progress}}
                        </div>
                      </div>
                    </div>
                    <div class="d-xl-none">
                      <div class="admin-users-icon ml-auto mr-auto">
                        <img src="{{currentUser.avatar}}" class="admin-users-avatar">
                      </div>
                      <div class="mt-2">
                        <div class="mb-3">
                          <label class="admin-upload-picture-button" for="upload-photo-2">UPLOAD NEW PHOTO</label>
                          {{file-upload class="display-none" id="upload-photo-2" onComplete="imageUploadComplete" onProgress="imageUploadLoading"}}
                        </div>
                        <div class="mb-5">
                          <span class="admin-delete-picture-button" {{action 'deleteUserPicture'}}>REMOVE</span>
                        </div>
                      </div>
                      <div class="mt-2">
                        {{ember-progress-bar progress=progress}}
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 col-lg-12 mr-0 ml-0 pl-0 pr-0">
                      <div class="mt-5"></div>
                      <div class="row p-0 m-0">
                        <div class="account-profile-input-form-holder">
                          <div class="mr-2">
                            <label class="account-profile-form-text account-profile-pointer" for="nameInput">First Name</label>
                            {{input type="string" value=name class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="nameInput"}}
                            {{#if nameHasError}}
                              <div class="validation-error-message mb-2 fade">
                                {{nameErrorMessage}}
                              </div>
                            {{/if}}
                          </div>
                        </div>
                        <div class="account-profile-input-form-holder">
                          <label class="account-profile-form-text account-profile-pointer" for="lastNameInput">Last Name</label>
                          {{input type="string" value=surname class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="lastNameInput"}}
                          {{#if surnameHasError}}
                            <div class="validation-error-message mb-2 fade">
                              {{surnameErrorMessage}}
                            </div>
                          {{/if}}
                        </div>
                      </div>

                      <!--

                      <label class="account-profile-form-text account-profile-pointer mt-4" for="emailInput">Email</label>
                      {{input type="string" value=email placeholder="e.g. example@example.com" class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="emailInput"}}
                      {{#if emailHasError}}
                        <div class="validation-error-message fade">
                          {{emailErrorMessage}}
                        </div>
                      {{/if}}

                      <label class="account-profile-form-text account-profile-pointer mt-4" for="passwordInput">Password</label>
                      {{input type="password" placeholder="e.g. StrongPassword!99" autocomplete="off" value=password  class="account-profile-input-form-static account-profile-form-text" id="passwordInput"}}
                      {{#if passwordHasError}}
                        <div class="validation-error-message fade">
                          {{passwordErrorMessage}}
                        </div>
                      {{/if}}

                      -->

                      <div class="row p-0 m-0">
                        <div class="account-profile-input-form-holder">
                          <div class="mr-2">  
                            <label class="account-profile-form-text mt-4 account-profile-pointer" for="dateInput">Date of Birth</label>
                            <br>
                              {{bootstrap-datepicker value=dateOfBirth placeholder=currentDatePlaceHolder autoclose=true format="dd/mm/yyyy" endDate=currentDate class="account-profile-input-form-half-static account-profile-form-text account-profile-pointer" id="dateInput"}}
                            <br>
                            {{#if dateOfBirthHasError}}
                              <div class="validation-error-message mb-2 fade">
                                {{dateOfBirthErrorMessage}}
                              </div>
                            {{/if}}
                          </div>
                        </div>
                        <div class="account-profile-input-form-holder">
                          <label class="account-profile-form-text mt-4 account-profile-pointer" for="numberInput">Phone Number</label>
                          {{input type="string" value=phoneNumber placeholder="e.g. +53 32 512 356" class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="numberInput"}}
                          {{#if phoneNumberHasError}}
                            <div class="validation-error-message mb-2 fade">
                              {{phoneNumberErrorMessage}}
                            </div>
                          {{/if}}
                        </div>
                      </div>

                      <label class="account-profile-form-text mt-4">Gender</label>
                      <br>
                      <select onchange={{action "setSelection" value="target.value"}} class="account-profile-select account-profile-form-text account-profile-pointer">
                        <option disabled selected>Gender</option>
                        {{#if (is-equal currentUser.gender 'male')}}
                          <option value="male" selected>
                            Male
                          </option>
                          {{else}}
                          <option value="male">
                            Male
                          </option>
                        {{/if}}
                        {{#if (is-equal currentUser.gender 'female')}}
                          <option value="female" selected>
                            Female
                          </option>
                        {{else}}
                          <option value="female">
                            Female
                          </option>
                        {{/if}}
                        {{#if (is-equal currentUser.gender 'other')}}
                          <option value="other" selected>
                            Other
                          </option>
                        {{else}}
                          <option value="other">
                            Other
                          </option>
                        {{/if}}
                      </select>
                      <br>
                  
                      <h1 class="account-profile-address-title mt-5 mb-4">Address</h1>
                      <label class="account-profile-form-text account-profile-pointer" for="streetInput">Street</label>
                      {{input type="string" value=street placeholder="e.g. 5th Avenue" class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="streetInput"}}
                      {{#if streetHasError}}
                        <div class="validation-error-message mb-2 fade">
                          {{streetErrorMessage}}
                        </div>
                      {{/if}}
                      <br>
                      <div class="row p-0 m-0">
                        <div class="account-profile-input-form-holder">
                          <div class="mr-2">
                            <label class="account-profile-form-text mt-3 account-profile-pointer" for="cityInput">City</label>
                            <br>
                            {{input type="string" value=city placeholder="e.g. New York" class="account-profile-input-form-half-static account-profile-form-text" autocomplete="off" id="cityInput"}}
                            {{#if cityHasError}}
                              <div class="validation-error-message mb-2 fade">
                                {{cityErrorMessage}}
                              </div>
                            {{/if}}
                          </div>
                        </div>
                        <div class="account-profile-input-form-holder">
                          <label class="account-profile-form-text mt-3 account-profile-pointer" for="zipCodeInput">ZipCode</label>
                          <br>
                          {{input type="string" value=zipCode placeholder="e.g. 10065" class="account-profile-input-form-half-static account-profile-form-text" autocomplete="off" id="zipCodeInput"}}
                          {{#if zipCodeHasError}}
                            <div class="validation-error-message mb-2 fade">
                              {{zipCodeErrorMessage}}
                            </div>
                          {{/if}}
                        </div>
                      </div>
                      <br>
                      <label class="account-profile-form-text account-profile-pointer" for="stateInput">State</label>
                      {{input type="string" value=state placeholder="e.g. New York" class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="stateInput"}}
                      {{#if stateHasError}}
                        <div class="validation-error-message mb-2 fade">
                          {{stateErrorMessage}}
                        </div>
                      {{/if}}
                      <br>
                      <label class="account-profile-form-text mt-3 account-profile-pointer" for="countryInput">Country</label>
                      {{input type="string" value=country placeholder="e.g. USA" class="account-profile-input-form-static account-profile-form-text" autocomplete="off" id="countryInput"}}
                      {{#if countryHasError}}
                        <div class="validation-error-message mb-2 fade">
                          {{countryErrorMessage}}
                        </div>
                      {{/if}}
                      <br>
                      
                      <div class="account-profile-save-holder row mt-5 p-0 mr-1 ml-0">
                        <button class="users-profile-cancle-button mr-2" {{action "cancle"}}>CANCLE</button>
                        <button class="users-profile-save-info-button" {{action "updateUser"}}>SAVE</button>
                      </div>
                    </div>
                  </div>
                </div>
              {{else}}
                <div class="mr-5 ml-5 pr-3 pl-3 mt-5">
                  <div class="mb-5">
                    <div class="d-none d-xl-block">
                      <span class="float-right admin-users-edit-button" {{action 'toggleUserEdit'}}>EDIT</span>
                      <span class="float-right admin-users-edit-button mr-2" {{action 'deleteUser'}}>DELETE</span>
                    </div>
                    <div class="admin-users-icon">
                      <img src="{{currentUser.avatar}}" class="admin-users-avatar">
                    </div>
                  </div>
                  <div>
                    <h1>User Info</h1>
                    <div class="float-left mr-4">
                      <p class="users-information-text">First Name</p>
                      <p class="users-information-text">Last Name</p>
                      <!-- <p class="users-information-text">Username</p> -->
                      <p class="users-information-text">Email Address</p>
                      <p class="users-information-text">Password</p>
                      <!-- <p class="users-information-text">Role</p> -->
                    </div>
                    <div class="">
                      <p class="users-information-text">{{currentUser.name}}</p>
                      <p class="users-information-text">{{currentUser.surname}}</p>
                      <!-- <p class="users-information-text"></p> -->
                      <p class="users-information-text">{{currentUser.email}}</p>
                      <p class="users-information-text">********</p>
                      <!-- <p class="users-information-text">Role</p> -->
                    </div>
                    <div class="d-xl-none">
                      <div class="mt-2">
                        <span class="float-left admin-users-edit-button mr-2" {{action 'toggleUserEdit'}}>EDIT</span>
                        <span class="float-left admin-users-edit-button" {{action 'deleteUser'}}>DELETE</span>
                      </div>
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>